div#hb-map-wrap.pageckeck.atomic-notify(style="width: {{width}}px;height: {{height}}px" ng-click="tab($event)")
    img(ng-show="showImg" class="checkImg" src="{{imgPath}}" alt="")
    div.imgError(ng-show="noImg") 
        span.h1.red 学生未作答
    div.imgError(ng-show="imgError")
        span.h1.red 图片获取失败
    div(id="notify_{{$index}}"
        ng-repeat="item in markList"
        style="left:{{item.x}}px;top:{{item.y}}px;min-width:{{item.itemMinWidth}}px;height:{{item.itemHeight}}px;width:{{item.itemWidth}}px;"
        class="atomic-notify-item" 
        ng-mouseleave="cursorPoint($event)" 
        ng-class="{true: 'atomic-notify-item-active'}[item.showBorder]")
            div.body(ng-if="item.font" ng-click="target($event,item,$index)")
                input#tags.tagsInput.h3(style="z-index:9999;color:red;display:inline-block;" 
                                    type="text" 
                                    name="name"
                                    ng-model="item.text") 
                button.close(ng-click="dismiss($event, item,$index)") &times;

            div.body(ng-if="item.other"  ng-click="target($event,item,$index)")
                img(id="img_{{$index}}"  class="image1" style="width:{{item.width}}px;height:{{item.height}}px" ng-src="{{item.type | chooseImg}} ")
                button.close(id="close_{{$index}}" ng-show="item.showKnowledge" ng-click="dismiss($event,item,$index)") &times;

                div(ng-show="item.showKnowledge")
                    div.knowledges(ng-hide="item.type === 'right'" style="width:480px;z-index:9999")
                        div.align-c
                            span.h3.float-l(style="color:#000") 选择错误原因
                            button(ng-click="selectedAllClick(item)" style="margin: 0 0.5em") 全选
                            button(ng-click="selectedNoneClick(item)") 清空
                            button.close(ng-click="selectedCloseClick(item, $event)") &times;
                        br
                        div.inputForm(id="knowledgeInput_{{$index}}" ng-click="clickInpiut(knowledge,item.konwledges)" style="display: inline-block" ng-repeat="knowledge in knowledges")
                            input.targetInput(type="checkbox" name="checkbox" ng-model="knowledge.selected" ng-change="selectedChange(item, knowledge)")
                            | {{knowledge.knowledgePointName}}